/* div */
.container2 {
	position: relative;
	width: 720px;
}

/* error message */
.error {
	color: red
}

/* form */
fieldset {
	padding: 1em;
	border: 1px solid #ddd;
	margin: 0 0 0.5em 0
}

.inputdate {
	background: transparent url('../images/inputtextbg.gif') no-repeat
		scroll 0 0;
	width: 130px;
	height: 24px;
	padding-left: 5px;
}

input.long {
	background: transparent url('../images/inputtextbg2.gif') no-repeat
		scroll 0 0;
	width: 260px;
}

/* Image */
img.inline {
	display: inline;
}